<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link href = "css/background.css" rel = "stylesheet" type = "text/css">
</head>

<style>
	.container{
		width: 80%;
		padding: 10px;
		background-color: white;
		color: red;
		margin: 10px 10% 10px 10%;
		text-align: center;
		border-radius: 10px 10px 0px 0px;
	}
	
	img{
		width: 40%;
		margin: 10px 30% 10px 30%;
	}
</style>
<body>
	
	
	<div class = container>
		<img src = "images/cancel.png">
		<p th:text = "${session.message}">  </p>
	</div>
</body>
</html>