<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel = "stylesheet" href = "css/background.css" type = "text/css">

<style>
	#container{
		background-color: white;
		padding : 10px;
	}
	button {
		padding: 10px;
		background-color: purple;
		color: white;
	}
	
	button:hover{
		background-color: green;
		
	}
	#firstHead, #thirdHead{
    background-color: green;
    width: 100%;
    height: 10px;
}

#secondHead{
    background-color: white;
    text-align:center;
}
#footer{
    position:absolute;
    bottom:0px;
    left:0px;
    right: 0px;
    
}
</style>
</head>
<body>
	<div id = container>
		
		<h1 style = "color:green"> Transfer Done succesfully</h1>
		<a href = "/receipt"> <button > View Receipt </button></a>
	</div>

	<footer id = footer>
		<section id = firstHead  class = headers> </section>
		<section id = secondHead class = headers> 
			<h5> adagejem@gmail.com </h5>
		</section>
		<section id = thirdHead  class = headers> </section>
	</footer>
	
</body>
</html>