<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link href = "css/layout.css" rel = "stylesheet" type = "text/css">
</head>

<style>
	
	
	button{
        display: block;
    }
    #about{
    	width: 25%;
    }
	
</style>
<body>

    <div id = "headContainer">
		<section id = firstHead  class = headers> </section>
		<section id = secondHead class = headers> 
			<h5> Welcome</h5>
		</section>
		<section id = thirdHead  class = headers> </section>

	</div>

    <div id = introduction>
        <p id = aboutMe> Hi,I am Adageje Moshood, a Computer Science Student , a psychology lover and a Java/Spring boot developer</p>
    </div>
    <hr>
    <div id = about>
        <img src = "images/moshood.jpg" id = founderPic>
        <h4> About the project</h4>
        <p> This page was created in order to test project which is to simulate how bank applications work, hopefully with time, we will able to get it</p>
    </div>


    
        <div class = inner>
           <a href= "/signup"> <button id = signUp> Sign Up </button> </a>
            <a href ="/login"> <button id = "login"> Log In </button> </a>
        </div>

        <footer id = footer>
			<section id = firstHead  class = headers> </section>
			<section id = secondHead class = headers> 
				<h5> adagejem@gmail.com </h5>
			</section>
			<section id = thirdHead  class = headers> </section>
	    </footer>
        
    
</body>
</html>