*{
    margin: 0px auto;
    padding: 0px;
}

body{
    background-image: url("background.jpg");
    background-size:cover;
}
div > p{
    color: white;
}

#about{
    background-color: white;
    border-radius: 20px;
    width: 26%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

#about > p{
    color: black;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#founderPic{
    border-radius:  20px 20px 0px 0px ;
    width: 100%;
    
}
h4{
    text-align: center;
    text-decoration: underline;
}

.navigate{
    
    
    
    
}
button{
    display:inline;
    color:black;
    padding: 10px;
    
    box-shadow: 2px 1px 5px  black;
}

#signUp{
    margin-left:22%;
    margin-right:10px;
}
#logIn{
    margin-right: 22%;
}
.inner{
    width: 36%;
    margin: 10px 37%;
    
}
